USE [master]
GO
/****** Object:  Database [Transaction]    Script Date: 10/7/2024 6:26:21 PM ******/
CREATE DATABASE [Transaction]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Transaction', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Transaction.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Transaction_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Transaction_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Transaction].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Transaction]
GO
USE [Transaction]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 10/7/2024 6:26:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[balance] [int] NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([id], [name], [balance]) VALUES (1, N'Haziq', 0)
INSERT [dbo].[Accounts] ([id], [name], [balance]) VALUES (2, N'Hadi', 8000)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
USE [master]
GO
